
body {
    background-color: #DBE2E6;
}

.container-fluid a {
    color: #E278C6;
}

.couleurnav {
    background-color: #495bab;
}

#navbarSupportedContent a {
    color: #E278C6;
}
@import "~bootstrap/scss/bootstrap";